$topMinWidth: 768px;
$medMaxWidth: $topMinWidth - 1;
$botMaxWidth: $medMaxWidth;

.chatLink {
    color: #ffffff;
    margin-left: auto;
    background-color: #4E8496;
    background-image: url(../images/chat.svg);
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    border-radius: 6px;
    height: 48px;
    position: relative;
    width: auto;
    font-size: 14px;
    white-space: nowrap;
    z-index: 5;
    margin-top: 1.75em;
    cursor: pointer;
    padding: .75em 1em;
    padding-left: 3em;
    text-transform: uppercase;
    
    span{
        color: white;
        margin-top: .25em;
        margin-left: .5em;
    }

    &:hover {
        background-color: #117E03;
        cursor: pointer;
    }

    @media only screen and (max-width: $medMaxWidth) {
        margin-top: .5em;
    }
    
    @media (max-width: 420px) {
        padding: 0;
        width: 50px;
        background-position: center; 
    }

    .chatText {
        @media (max-width: 420px) {
            display: none !important;
        }
    }
}